<script setup lang="ts">
import { userItemStore } from '@/stores/Item'
const itemStore = userItemStore()
</script>
<template>
    <v-table>
        <thead>
            <tr>
                <th>No.</th>
                <th>Name</th>
                <th>Unit</th>
                <th>Price</th>
                <th>Total</th>
                <th>Operation</th>
            </tr>
        </thead>
        <tbody>
            <tr v-for="(item, index) of itemStore.itemLists" :key="item.id">
                <td>{{ index + 1 }}.</td>
                <td>{{ item.name }}</td>
                <td>
                    <v-btn icon="mdi-minus" density="compact" @click="itemStore.deinc(item)">
                    </v-btn>{{ item.unit }}
                    <v-btn icon="mdi-plus" density="compact" @click="itemStore.inc(item)">

                    </v-btn>
                </td>
                <td>{{ item.price }}</td>
                <td>{{ item.unit * item.price }}</td>
                <td>
                    <v-btn icon="mdi-delete" density="compact" @click="() => {
                        itemStore.removeItem(item)
                    }"></v-btn>
                </td>
            </tr>
        </tbody>
    </v-table>
</template>@/stores/Item