<script setup lang="ts">
import { ref } from 'vue';
import { nextTick } from 'vue';
import { provide } from 'vue';

import { type Product } from '@/types/Product'


import ItemListTable from './ItemListTable.vue';


import ReceiptCard from '@/components/ReceiptCard.vue'
import ProductList from '@/components/ProductList.vue';
import MemberCard from '@/components/MemberCard.vue';
import ReceiptDialog from '@/components/ReceiptDialog.vue'

import { userItemStore } from '@/stores/Item'


const itemStore = userItemStore()

const products1: Product[] = [
    {
        id: 1,
        name: 'Latte',
        price: 45.0,
        type: 1
    },
    {
        id: 2,
        name: 'Mocka',
        price: 45.0,
        type: 1
    },
    {
        id: 3,
        name: 'Americano',
        price: 45.0,
        type: 1
    },
    {
        id: 4,
        name: 'Espresso',
        price: 45.0,
        type: 1
    },
    {
        id: 5,
        name: 'Americano',
        price: 45.0,
        type: 1
    },
    {
        id: 6,
        name: 'Green Tea',
        price: 40.0,
        type: 1
    },
    {
        id: 7,
        name: 'Thai Tea',
        price: 50.0,
        type: 1
    },
    {
        id: 8,
        name: 'Red Tea',
        price: 35.0,
        type: 1
    },
    {
        id: 9,
        name: 'Lemon Tea',
        price: 35.0,
        type: 1
    }
]


const products2: Product[] = [
    {
        id: 1,
        name: 'Latte',
        price: 45.0,
        type: 2
    },
    {
        id: 2,
        name: 'Mocka',
        price: 45.0,
        type: 2
    },
    {
        id: 3,
        name: 'Americano',
        price: 45.0,
        type: 2
    }
]

const products3: Product[] = [
    {
        id: 1,
        name: 'Latte',
        price: 45.0,
        type: 3
    },
    {
        id: 2,
        name: 'Mocka',
        price: 45.0,
        type: 3
    },
    {
        id: 3,
        name: 'Americano',
        price: 45.0,
        type: 3
    }
]

const tab = ref(1)

const selected = (p: Product) => {
    console.log('ProductView', p);
    itemStore.addItem(p)
    nextTick(() => {
        if (divItemList.value) divItemList.value.scrollTo(0, divItemList.value.scrollHeight)
    })
}
const divItemList = ref<HTMLElement | null>(null)


const dialog = ref(false)
provide('receiptDialog', dialog)


const receiptBill = function () {
    itemStore.billDialog()
}
</script>
<template>
    <v-container>
        <v-row>
            <v-col cols="12" md="6">
                <v-container style="padding: 0;">
                    <v-row>
                        <v-col cols="12">
                            <div ref="divItemList" style="height: 400px;overflow: auto;">
                                <v-sheet min-width="300" max-width="600" height="400" elevation="6">
                                    <ItemListTable></ItemListTable>
                                </v-sheet>
                            </div>
                        </v-col>
                        <v-col cols="12">
                            <v-sheet min-width="300" max-width="600" height="80" elevation="6">
                                <MemberCard></MemberCard>
                            </v-sheet>
                        </v-col>
                        <v-col cols="12">
                            <v-sheet min-width="300" max-width="600" height="110" elevation="6">
                                <ReceiptCard></ReceiptCard>
                            </v-sheet>
                        </v-col>
                        <v-col cols="12">
                            <v-sheet min-width="300" max-width="600" height="80" elevation="6">
                                <v-container>
                                    <v-row>
                                        <v-col cols="12" sm="6" c>
                                            <v-btn block size="x-large" color="red">Cancel</v-btn>
                                        </v-col>
                                        <v-col cols="12" sm="6">
                                            <v-btn block size="x-large" color="green" @click="receiptBill">Pay</v-btn>
                                        </v-col>
                                    </v-row>
                                </v-container>
                            </v-sheet>
                        </v-col>
                    </v-row>
                </v-container>
            </v-col>
            <v-col cols="12" md="6">
                <v-card color="basil">
                    <v-card-title class="font-weight-bold text-h2 text-red  text-center justify-center py-6 ">
                        Prouduct List
                    </v-card-title>
                    <v-sheet min-width="300" max-width="600" height="600" elevation="6">
                        <v-tabs v-model="tab" color="deep-purple-accent-4" align-tabs="center">
                            <v-tab :value="1">Drink</v-tab>
                            <v-tab :value="2">Dessert</v-tab>
                            <v-tab :value="3">Snack</v-tab>
                        </v-tabs>
                        <v-window v-model="tab">
                            <v-window-item :value="1">
                                <ProductList :products="products1" @selectedProduct="selected"></ProductList>
                            </v-window-item>
                            <v-window-item :value="2">
                                <ProductList :products="products2" @selectedProduct="selected"></ProductList>
                            </v-window-item>
                            <v-window-item :value="3">
                                <ProductList :products="products3" @selectedProduct="selected"></ProductList>
                            </v-window-item>
                        </v-window>
                    </v-sheet>
                </v-card>
            </v-col>
        </v-row>
    </v-container>
    <ReceiptDialog></ReceiptDialog>
</template>@/stores/Item