<script setup lang="ts">
import { userItemStore } from '@/stores/Item';
import { useMemberStore } from '@/stores/member'


import { ref } from 'vue';

const tel = ref('')
const memberStore = useMemberStore()
const itemStore = userItemStore()
function onClick() {
    memberStore.searchMember(tel.value)
    itemStore.calculate()
}
</script>
<template>
    <v-container>
        <v-row no-gutters>
            <v-col cols="6">
                <v-text-field v-model="tel" density="compact" variant="solo" label="Search Telephone"
                    append-inner-icon="mdi-magnify" single-line hide-details @click:append-inner="onClick"
                    @keyup.enter="onClick"></v-text-field>
            </v-col>
            <v-col cols="6" class="pa-3 text-center">
                {{ memberStore.currentMember ? memberStore.currentMember?.name : 'Not found' }}
            </v-col>
        </v-row>
    </v-container>
</template>