<script setup lang="ts">
import { userItemStore } from '@/stores/Item'
const itemStore = userItemStore()
</script>
<template>
    <v-container>
        <v-row no-gutters>
            <v-col cols="6">ยอดรวม</v-col><v-col cols="6">{{ itemStore.receipt?.total }}</v-col>
            <v-col cols="6">ส่วนลดสมาชิก</v-col><v-col cols="6">{{ itemStore.receipt?.memberDiscount }}</v-col>
            <v-col cols="6">ยอดสุทธิ</v-col><v-col cols="6">{{ itemStore.receipt?.totalNet }}</v-col>
        </v-row>
    </v-container>
</template>
